bin/
debug/
packages/
_UpgradeReport_Files/
_Backup/
App_Data/
TestResults/

*.user
*.cache
*.suo
*.obj
*.lib
*.mdf
*.ldf

//Exclude
!lebeay32.dll
!libgcc_s_dw2-1.dll
!mingwm10.dll
!ssleay32.dll
!wkhtmltopdf.exe