bin/
debug/
packages/
_UpgradeReport_Files/
_Backup/
App_Data/
TestResults/
obj/

*.ncrunchsolution
*.user
*.cache
*.suo
*.obj
*.lib
*.mdf
*.ldf
*.appharbor

//Exclude
!lebeay32.dll
!libgcc_s_dw2-1.dll
!mingwm10.dll
!ssleay32.dll
!wkhtmltopdf.exe