@model CodeBase.Models.User
@{
    ViewBag.Title = "ChangeDisplayName";
}

<h2>Change your display name</h2>
@using (Html.BeginForm()) {
    <div class="input-form">
        <div class="field">
            <div class="label">
                @Html.LabelFor(m => m.Username)
            </div>
            <div class="input">
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div>
        </div>
        <p>
            <input type="submit" value="Change" />
        </p>
    </div>
}
<br />
@{
    if (ViewData["err"] != null) {
        <span style="color: red">
            @Html.Raw(ViewData["err"].ToString()) 
        </span>
    }
}