@model IEnumerable<CodeBase.Models.Article>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Date
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @Html.ActionLink(item.Title , "Details", new { id=item.ArticleId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date )
        </td>
    </tr>
}

</table>
