@model IEnumerable<CodeBase.Models.Article>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Date
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @(Html.ActionLink<ArticlesController>(x => x.Details(item.ArticleId, Url.ToFriendlyUrl(item.Title)), item.Title))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date )
        </td>
    </tr>
}

</table>
