@model CodeBase.Models.Comment
<div class="comment">
    Author: @(Html.ActionLink<UsersController>(x => x.Details(Model.UserId), Model.Author.Username))
    @if(Request.IsAuthenticated &&  User.Identity.Name == Model.Author.Username){
    @(Html.ActionLink<ArticlesController>(x => x.DeleteComment(Model.CommentId), "Delete"))
    }
    <br>
    Vsebina: @Model.Content<br>
    Date: @Model.Date
</div>
