@model CodeBase.Models.Article
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm(new {action="AddComment"}) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Article</legend>
		@Html.Partial("_CommentCreate", new CodeBase.Models.Comment{ArticleId=Model.ArticleId})

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


