@model IEnumerable<CodeBase.Models.File>
     
<div style="font-weight:bold">Files:</div>
<ul class="files">    
@foreach (var i in Model){
    <li>@(Html.ActionLink<FileController>(x=>x.Download(i.FileId), i.Filename))</li>
}
</ul>
