@model IEnumerable<CodeBase.ViewModel.UserWithCount>
<table>
    <tr>
        <th>
            Most active users
        </th>
        <th>
           Articles
        </th>
    </tr>

@using CodeBase.Controllers
@foreach (var item in Model) {
    <tr>
        <td>
            @(Html.ActionLink<UsersController>(x => x.Details(item.User.UserId), item.User.Username))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
    </tr>
}

</table>
