@model CodeBase.ViewModel.IndexViewModel

@{
    ViewBag.Title = "Prva stran";
}

<h2>@Model.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@Html.Partial("~/Views/Articles/ArticleShort.cshtml", Model.Articles)
@Html.Partial("ActiveUsers", Model.Users)