@model CodeBase.ViewModel.IndexViewModel

@{
    ViewBag.Title = "code.base";
}
<h1 class="border">The place for code</h1>

<div style="display: inline">
@Html.Partial("~/Views/Articles/ArticleShort.cshtml", Model.Articles)
@Html.Partial("ActiveUsers", Model.Users)
@Html.Partial("Questions", Model.Questions)
@Html.Partial("ArticleRating", Model.ArticlesRating)
</div>