@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
html, body {
	height:100%;
}
body {
	font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
	text-decoration: none;
	line-height: 20px;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #333333;
}
p {
	margin: 20px 0;
}
h1 {
	color:#3db8e8;
	font-size: 20px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 5px 0;
}
h1 a {
	color:#3db8e8;
}
h1 a:hover {
	color:#35a1cc;
}
h2 {
	font-size: 16px;
	font-weight:normal;
	margin:0 0 15px 0;
	padding:0;
}
a {
	text-decoration: none;
	color: #999999;
	transition: color 0.2s ease-out 0s;
	-webkit-transition: color 0.2s ease-out 0s;
	-moz-transition: color 0.2s ease-out 0s;
	-o-transition: color 0.2s ease-out 0s;
}
a:hover {
	color: #333333;
}
#main-container {
	width:100%;
	min-height:100%;
	height:auto;
	margin-bottom:-250px;
}
#header-container {
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #bfbfbf;
	background-image: -webkit-linear-gradient(top, #fafafa, #f0f0f0);
	background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -ms-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -o-linear-gradient(top, #fafafa, #f2f2f2);
}
#header {
	height: 100%;
	margin: 0 auto;
	width: 900px;
}
#logo {
	float: left;
	width: 145px;
	height: 25px;
	margin: 14px 0 0 0;
	background:url(../img/header_logo.png) center center no-repeat;
	cursor: pointer;
}
#logo:hover {
	background:url(../img/header_logo_hover.png) center center no-repeat;
}
#search {
	float: left;
	display: inline;
	margin: 15px 0 0 50px;
}
#search input {
	padding: 6px 6px 6px 25px;
	width: 200px;
	background: #fafafa url(../img/icon_search.png) 5px center no-repeat;
	border: 1px solid #7c9199;
	outline: none;
	border-radius: 4px;
	color: #808080;
	box-shadow: 0px 1px 0px 0px #fff;
}
#search input:focus {
	border: 1px solid #2db4e8;
	box-shadow: 0px 0px 4px 0px #2db4e8;
	background-color: #FFF;
}
#nav-top {
	color: #f5f5f5;
	background-color: blue;
}
#nav-top ul {
	float: right;
	margin: 15px 0 0 0;
	padding: 0;
}
#nav-top ul li {
	display: inline-block;
	vertical-align:middle;
	margin:0 5px;
	padding:6px 0;
}
#nav-top ul li.login a{
	font-size:15px;
	letter-spacing:0;
	border-radius:5px;
	padding:6px 10px;
	border:1px solid #d9d9d9;
	box-shadow: 0px 1px 0px 0px #fff;
}
#nav-top ul li.login a:hover {
	border:none;
	color:#2db4e8;
	border:1px solid #d9d9d9;
}
#nav-top ul li.user-name
{
	position:relative;
	width:80px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:15px;
	color:#333333;
	text-shadow: 0px 1px rgba(255, 255, 255, 1);
	border: 1px solid #d9d9d9;
	padding:5px 12px 5px 12px;
	border-radius:5px;
	box-shadow: 0px 1px 0px 0px #fff;
	cursor:pointer;
	user-select:none;
	-webkit-user-select:none;
	-moz-user.select:none;
	-o-user-select: none;
}
#nav-top ul li.user-name:hover {
	border: 1px solid #bfbfbf;
	background-image: -webkit-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -ms-linear-gradient(top, #fafafa, #f2f2f2);
	background-image: -o-linear-gradient(top, #fafafa, #f2f2f2);
	box-shadow: 0px 1px 1px 0px #d9d9d9;
}
#nav-top ul li.user-name:active {
	background-image:none;
	background-color:#ebebeb;
	box-shadow:none;
}
#nav-top ul li.user-name-active {
	background-image:none;
	background-color:#ebebeb;
	box-shadow:none;
}
#nav-top ul li.user-name-active:hover {
	background-image:none;
	background-color:#ebebeb;
	box-shadow:none;
}
.user-menu {
	visibility:hidden;
	position:absolute;
	top:55px;
}
.user-menu ul {
	border: 1px solid #bfbfbf;
	position:relative;
	left:693px;
	width:200px;
	background-color:#fff;
	border-radius:5px;
	box-shadow:0 0 8px 0px rgba(0,0,0,0.21)
}
.user-menu li {
	font-size:12px;
	color:#333333;
	display:list-item;
	list-style:none;
	padding:6px 15px;
	border-bottom:1px solid #ebebeb;
	cursor:pointer;
}
.user-menu li:hover {
	background-color:#2db5ea;
	color:#fff;
}
.user-menu li.first {
	font-weight:bold;
	background-image: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);
	background-image: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);
	background-image: -ms-linear-gradient(top, #fcfcfc, #f2f2f2);
	background-image: -o-linear-gradient(top, #fcfcfc, #f2f2f2);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.user-menu li.first:hover {
	color:#333333;
	background-color:transparent;
	cursor:auto;
}
.user-menu li.last {
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border:none;
	font-weight:bold;
}
#nav-top ul li a {
	text-decoration: none;
	color: #333333;
	font-family:HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
	padding: 0 0 2px 0;
	margin: 0;
	border-bottom:2px solid #f3f3f3;
	transition: border 0.2s ease-out 0s, color 0.2s ease-out 0s;
	-webkit-transition: border 0.2s ease-out 0s, color 0.2s ease-out 0s;
	-moz-transition: border 0.2s ease-out 0s, color 0.2s ease-out 0s;
	-o-transition: border 0.2s ease-out 0s, color 0.2s ease-out 0s;
}
#nav-top ul li a:hover {
	color: #2db4e8;
	border-bottom:2px solid #2db4e8;
}
#content-container {
	width: 100%;
	padding: 0px 0 250px 0;
}
#content {
	width: 900px;
	margin: 0 auto;
	padding: 30px 0;
}
#footer-container {
	clear: both;
	position:relative;
	background-color: #333333;
	width: 100%;
	height: 250px;
}
#footer {
	width: 900px;
	height: 250px;
	margin: 0 auto;
	padding: 0px 0px;
	color: #f5f5f5;
	font-size:12px;
}
#footer a {
	color: #f5f5f5;
	transition: color 0.2s ease-out 0s;
	-webkit-transition: color 0.2s ease-out 0s;
	-moz-transition: color 0.2s ease-out 0s;
	-o-transition: color 0.2s ease-out 0s;
}
#footer a:hover {
	color: #57c9f3;
}
#footer dl {
	padding: 30px 20px;
	display:inline-block;
	width:182px;
	float:left;
}
#footer dl dt {
	color:#f5f5f5;
	font-weight: bold;
	text-transform:uppercase;
	margin-bottom: 5px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #4d4d4d;
}
#connect dd {
	width:200px;
	height:30px;
	margin:10px 0;
}
#connect dd a {
	display:table-cell;
	width:103px;
	height:30px;
	background-color:transperent;
	padding:2px 40px 3px 40px;
	vertical-align:middle;
	border-radius: 4px;
}
#connect #connect-twitter {
	font-weight:bold;
	color:#f5f5f5;
	background:url(../img/connect_twitter.png) 8px center no-repeat;
}
#connect #connect-twitter:hover {
	color:#f5f5f5;
	background-color:#29a3cc;
}
#connect #connect-facebook {
	font-weight:bold;
	color:#f5f5f5;
	background:url(../img/connect_facebook.png) 8px center no-repeat;
}
#connect #connect-facebook:hover {
	color:#f5f5f5;
	background-color:#3b5998;
}
#connect #connect-rss {
	font-weight:bold;
	color:#f5f5f5;
	background:url(../img/connect_rss.png) 8px center no-repeat;
}
#connect #connect-rss:hover {
	color:#f5f5f5;
	background-color:#f2a355;
}
#footer-copy {
	float:left;
	text-align:right;
	background:url(../img/footer_logo.png) 0px center no-repeat;
	height:35px;
	width:150px;
	padding:0;
	margin: -10px 0 0 20px;
}
#footer-copy span {
	position:relative;
	top:8px;
}
.button {
	margin:5px 0px;
	background-image: -webkit-linear-gradient(top, #2db5ea, #2493bf);
	background-image: -moz-linear-gradient(top, #2db5ea, #2493bf);
	background-image: -ms-linear-gradient(top, #2db5ea, #2493bf);
	background-image: -o-linear-gradient(top, #2db5ea, #2493bf);
	background-color:#2db5ea;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	border:1px solid #228ab3;
	text-shadow: 0px -1px rgba(0, 0, 0, .25);
	border-radius:5px;
	padding:8px 12px;
	cursor:pointer;
}
.button:hover {
	background-image: -webkit-linear-gradient(top, #2fbff7, #279dcc);
	background-image: -moz-linear-gradient(top, #2fbff7, #279dcc);
	background-image: -ms-linear-gradient(top, #2fbff7, #279dcc);
	background-image: -o-linear-gradient(top, #2fbff7, #279dcc);
}
.button:active {
	background-image:none;
}
.buttons {
	margin: 10px 0 0 0;
}
.textfield {
	margin:5px 0;
	background-color:#FFF;
	padding: 6px;
	border-radius: 4px;
	border: 1px solid #7c9199;
	outline:none;
	width:200px;
}
.textfield:focus {
	border: 1px solid #2db4e8;
	box-shadow: 0px 0px 4px 0px #2db4e8;
}
.select {
	margin:5px 0;
	padding: 6px 4px 6px 6px;
	border-radius: 4px;
	border: 1px solid #7c9199;
	width:214px;
	outline:none;
}
.textarea {
	margin:5px 0;
	resize:none;
	border-radius:4px;
	padding:6px;
	border: 1px solid #7c9199;
	width:200px;
	outline:none;
	height:100px;
}
.textarea:focus {
	border: 1px solid #2db4e8;
	box-shadow: 0px 0px 4px 0px #2db4e8;
}
.comments {
	margin:15px 0;
}
.comments h1 {
	color:#333333;
	margin:0;
}
.comment, .comment-post {
	background-color:#dbeef6;
	border-radius:4px;
	line-height:normal;
	width:100%;
	padding:15px;
	margin:15px 0;
}
.comment-avatar {
	margin:0;
	padding:0;
	display:inline-block;
}
.comment-avatar img {
	height:50px;
	width:50px;
}
.comment-content {
	margin: 0 0 0 10px;
	display:inline-table;
	vertical-align:top;
	width:836px;
}
.comment-author {
	font-weight:bold;
	font-size:15px;
	color:#3db8e8;
}
.comment-author:hover {
	color:#35a1cc;
}
.comment-date {
	font-size:12px;
	margin: 0 0 0 5px;
}
.comment-content p {
	margin:8px 0 0 0;
	padding:0;
}
.comment-post h1 {
	font-size:16px;
	margin:0 0 10px 0;
}
.comment-post textarea {
	background-color:#f2f8fa;
	width:100%;
}
.comment-post textarea:focus {
	background-color:#fff;
}
.comment-post-textarea-container {
	margin: 0 15px 0 0;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    /*
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;*/
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}